/* base.css */
body {
    background-color: #1E2328; /* Grey background color */
    font-family: Arial, sans-serif;
    overflow-x: clip;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
}

.username {
    color: #F0E6D2;
    font-family: 'Beaufort', sans-serif;
}

.title {
    padding: 10px;
    text-align: center;
}

.para {
    text-align: center;
}

.champ-select {
    text-align: center;
    padding: 40px;
}

.champ-name {
    padding: 10px;
    text-align: center;
    font-family: 'Beaufort', sans-serif;
}

.image-content {
    margin: 20px;
    padding: 20px;
    background-color: #1E2328;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
    color: #F0E6D2; /* Font color */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.paragraph-container {
    color: #F0E6D2; /* Default font color */
}

@font-face {
    font-family: 'Beaufort';
    src: url('font/BeaufortforLOL-Regular.ttf') format('woff2'), /* Change the path to the font file */
         url('font/BeaufortforLOL-Italic.ttf') format('woff'); /* Change the path to the font file */
    font-weight: normal;
    font-style: normal;
}

#copyright {
    padding: 20px; /* Adjust the padding as needed */
    color: #F0E6D2;
    text-align: center
  }

  #toggleButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease; /* Add smooth hover effect */
}

#toggleButton:hover {
    transform: scale(1.2); /* Makes the button grow when hovered */
}

#profileContainer {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 400px;
    height: 600px;
    z-index: 999;
    border: 2px solid #ccc;
    background-color: white;
}

/* Adjust layout for larger screens */
@media (min-width: 768px) {
    #profileContainer {
        left: 30%;
        width: 600px;
        height: 800px;
    }
}