body {
    background-color: #1E2328; /* Grey background color */
    font-family: Arial, sans-serif;
    overflow-x: clip;
}

.image-container {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideToRight {
    0% {
        transform: translateX(0); /* Start with no translation */
    }
    100% {
        transform: translateX(-280px); /* Slide the container to the left (adjust as needed) */
    }
}

@keyframes slideToLeft {
    0% {
        transform: translateX(0); /* Start with no translation */
    }
    100% {
        transform: translateX(280px); /* Slide the container to the right (adjust as needed) */
    }
}

.arrow-image {
    position: absolute;
    top: 200px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    cursor: pointer;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
}

.username {
    color: #F0E6D2;
    font-family: 'Beaufort', sans-serif;
}

.arrow-image:hover {
    transform: scale(1.1);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.gallery-image {
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    opacity: 0.1; /* Faded opacity for side images */
}

.map-container {
    width: 300px; /* Set the width of the container */
    height: 300px; /* Set the height of the container */
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container img {
    /* Additional styles for the image */
    max-width: 100%;
    max-height: 100%;
}

.title {
    padding: 10px;
    text-align: center;
}

.para {
    text-align: center;
}

.champ-select{
    text-align: center ;
    padding: 40px;
}

.champ-name {
    padding: 10px;
    text-align: center;
    font-family: 'Beaufort', sans-serif;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.image-content {
    margin: 20px;
    padding: 20px;
    background-color: #1E2328;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
    color: #F0E6D2; /* Font color */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.paragraph-container {
    color: #F0E6D2; /* Default font color */
}

.model-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.model-view-css-fix{
    object-fit: cover;
    height: 80vh;
    width:auto; 
  }
  model-viewer {
    width: 50vh;
    height: 40vh;
    margin: auto;
    position: relative; /* Ensure the background image is positioned relative to the model viewer */
    background-image: url(icons/boarder.png), url(icons/vp_progression_frame.png);
    background-size: 75%; /* Adjust the size as needed */
    background-repeat: no-repeat;
    background-position: center;
    /*Debugging Boarder
    border: 2px solid #F0E6D2; Add a border around the model viewer 
    box-sizing: border-box; Ensure the border is included in the width and height */
}

model-viewer::before {
    content: ''; /* Create a pseudo-element to hold the background image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(icons/dash_circle.svg);
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotateBackground 30s linear infinite; /* Adjust duration and timing function as needed */
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.spell-image {
    margin-right: 10px;
    text-align: center;
}

.spell-image img {
    width: 50px;
    border: 2px solid #7b37c8; /* Add a 2px solid black border to the image */
}

.label {
    margin-top: 5px;
}

@media only screen and (max-width: 1170px) {

    .gallery-image {
        width: 150px;
        height: 150px;
    }

    .model-viewer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .model-view-css-fix {
        height: -10%; /* Adjust height as needed */
        width: auto;}
        model-viewer {
            width: 40vh;
            height: 30vh;
    }

    .spell-image {
        width: 15%; /* Display 5 images per row (5 * 20% = 100%) */
    }

    @keyframes slideToRight {
        0% {
            transform: translateX(0); /* Start with no translation */
        }
        100% {
            transform: translateX(-230px); /* Slide the container to the left (adjust as needed) */
        }
    }
    
    @keyframes slideToLeft {
        0% {
            transform: translateX(0); /* Start with no translation */
        }
        100% {
            transform: translateX(230px); /* Slide the container to the right (adjust as needed) */
        }
    }

}

@font-face {
    font-family: 'Beaufort';
    src: url('font/BeaufortforLOL-Regular.ttf') format('woff2'), /* Change the path to the font file */
         url('font/BeaufortforLOL-Italic.ttf') format('woff'); /* Change the path to the font file */
    font-weight: normal;
    font-style: normal;
}
